@import url('sprite.css');

/* general */
html, body {
	height: 100%;
	font-family: Arial;
}

/* header */
.header {
	min-height: 100px;
	margin: 0;
	border: 0;
	border-radius: 0;
}

/* menu */
.menu {
	min-height: 50px;
	margin: 0;
	border: 0;
	border-radius: 0;
}

.menu li > a {
	color: #f5f5f5 !important;
}

.menu li > a.menu-favoritos {
	font-size: 18px;
	color: yellow !important;
}

.menu li > a.menu-favoritos .favoritos-counter {
	font-size: 18px;
	font-weight: bold;
	background: yellow;
	color: #666;
	padding: 5px;
}

.menu li.active > a {
	background: red !important;
}

/* main */
.main {
	min-height: calc(100% - 304px);
	padding-top: 20px;
	padding-bottom: 20px;
}

/* footer */
.footer {
	padding: 15px 0;
	min-height: 100px;
	margin: 0;
	border: 0;
	border-radius: 0;
	color: #f5f5f5;
}

ul.footer-menu {
	padding: 0 15px;
	margin: 0;
}

ul.footer-menu a {
	color: #ffffff;
}

/* utils */
.title {
	font-weight: bold;
	margin-top: 0;
}

.title-red {
	color: #b22222;
}

.title-tomato {
	color: tomato;
}

.bg-gray {
	background: #eee;
}

/* addon whatsapp */
.addon-whatsapp {
	background: #ffffff;
	border-left: 0;
	padding: 5px;
}

.addon-whatsapp:first-of-type {
	border-right: 0;
	padding: 5px 0 5px 5px;
}

.addon-whatsapp [type="checkbox"] {
	margin-top: 3px !important;
}

[type="checkbox"]:checked {
	background: #b22222;
}

/* card-anuncio */
.card-anuncio-photo {
	width: 100%;
}

.card-anuncio-title {
	font-weight: bold;
	color: #666;
	text-align: center;
}

.card-anuncio-details {
	color: #666;
	text-align: center;
}

.card-anuncio-price {
	font-weight: bold;
	color: #b22222;
	text-align: center;
	font-size: 24px;
}

.card-anuncio-star {
	font-size: 24px;
	color: yellow;
	position: absolute;
	top: 10px;
	right: 20px;
}

.card-anuncio-star-empty {
	font-size: 24px;
	color: #666;
	position: absolute;
	top: 10px;
	right: 20px;
}